.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.img_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.img_container img{
    margin: 0 10px;
}

button {
    margin-top: 1rem;
}
body{
    background-image: url('./image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.rules{
    color: white;
    font-weight: bold;
    font-size: 2rem;
}


#generateButton {
  background-color: #117154;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

#generateButton:hover {
  background-color: #374151;
}

#generateButton:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  #generateButton {
    padding: .75rem 1.5rem;
  }
}